<div class="search">
    <%= form_tag(root_path, method: :get) do %>
        <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' , :size => "40*40" %>
    <% end %>
</div>
<%= paginate @movies %>
<div class = "movies-container">
    <% @movies.each do |movie| %>
        <div class = "movie-data">
            <p class= "movie-title"><%= movie['title'] %></p>
            <%= link_to movie_path(movie['id']) do %>
                <% if movie['poster_path'] %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w200' + movie['poster_path'],class: "card-img" %></p>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<%= paginate @movies %>