<!DOCTYPE html>
<html>
  <head>
    <title>movie Memo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Movie Memo", search_movies_path %></h1>
      <nav class="header-nav">
        <ul class="header-list">
          <li><%= link_to "映画検索", search_movies_path %></li>
          <li><%= link_to "AIのオススメ", recommend_movies_path %></li>
          <li><%= link_to "映画メモ", posts_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%#= link_to "My page", user_path(current_user.id) %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path  %></li>
          <% end %>
          </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <script>
      const header = document.querySelector('header');
      let prevY = window.pageYOffset; // 前回のスクロール位置を初期化

      window.addEventListener('scroll', () => {
        const currentY = window.pageYOffset; // 現在のスクロール位置を取得
        if (currentY < prevY) { // 上にスクロールしている場合
          header.classList.remove('hidden'); // hiddenクラスを削除して表示する
        } else { // 下にスクロールしている場合
        if (currentY > 0) { //Safariなどのバウンススクロール対策
            header.classList.add('hidden'); // hiddenクラスを追加して非表示にする
          }
        }
        prevY = currentY; // 前回のスクロール位置を更新
      });
    </script>
  </body>
</html>
